/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* Utilities */
body {
    margin: 0;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 55px;
    /* line-height: 18px; */
    margin-top: 0;
    margin-bottom: 17px;
    color: #00ace4;
}

/* Header Section */
header {
    background-color: #0c2124;
}
header section {
    display: flex;
    justify-content: center;
    /* padding: 130px; */
}
/* header p, h1 {
    text-align: center;
} */
/* header p {
    font-size: 20px;
    color: white;
    width: 86%;
    margin-left: 69px;
} */

/* Main Section */
.selection-card {
    /* height: 21.3rem; */
    height: 17rem;
}

#coach-expense {
    margin-left: 27px;
}

/* Footer Section */
#footer-name {
    font-family: 'Berkshire Swash', cursive;
    color: #00ace4;
}