/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* Utilities */
body {
    margin: 0;
}
h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 17px;
    color: #00ace4;
}

/* Header Section */
header {
    background-color: #0c2124;
}
header section {
    display: flex;
    justify-content: center;
}
#header-img {
    position: relative;
    top: 1.5rem;
    left: -1rem;
}
#img-football {
    position: absolute;
    top: 18.8rem;
    left: 12rem;
}

/* Main Section */
.selection-card {
    height: 17rem;
}

#coach-expense {
    margin-left: 27px;
}

/* Footer Section */
footer {
    background-color: #0c2124;
}
#footer-name {
    font-family: 'Berkshire Swash', cursive;
    color: #00ace4;
}

@media screen and (min-width: 768px) {
    header section {
        margin-bottom: 4rem;
    }
    footer {
        margin-top: 4rem;
    }
}